* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
}

body {
    background-color: black;
}

.sidebar {
    width: 120px;
    background-color: #222;
    text-align: center; 
    font-size: 15px;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.sidebar > img {
padding: 0;
height: 150%;

}

.sidebar > a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    padding: 12px 24px;
    white-space: normal;
    cursor: pointer;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sidebar > a > i {
    padding-bottom: 12px;
}

.awrap {
    background-color: #000;
    width: 100%;
}

 .aabout:hover, .aphotos:hover, .acontact:hover {
    background-color: #000;
    color: #fff;
}

#h1, #a1, #p1, #c1{
    font-size: 36px;
}

.hornav {
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.4);
    z-index: 2;
    display: block;

}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bar > a {
    text-decoration: none;
    color: rgb(189, 182, 182);
    width: 25%;
    height: 100%;
    padding: 8px 16px;
    text-align: center;
}

.bar :hover {
    background-color:darkgrey;
    color: black;
}

.con {
    text-align: center;
    padding-top: 32px;
}

.con > header {
    color:#fff;
    padding: 32px;
}

.head {
    font-size: 6rem;
    line-break:auto;
}

.p1 {
    margin-top: 2rem;
    font-size:24px;
}

.con > head, p1 {
    text-align: center;
    margin-bottom: 32px;
}

 #man1 {
    margin-top: 3rem;
    max-width: 100%;
    height: auto;
}

#about {
    color: #757575;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: justify;
    font-size: 16px;
    margin: 25px;
    line-height: 1.5;
}

.head2 {
    color: #f1f1f1;
    margin: 25px 0;
    font-size: 30px;
}

#about > hr {
    width: 200px;
    margin: 25px 0;
    border: 1px solid #eee;
    opacity: 0.60;
}

.head3 {
    color: #f1f1f1;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
}

.skill > .para  {
    letter-spacing: 4px;
}

.skill > * {
    margin-top: 1rem;
}

.skill > .bar {
width: 100%;
background-color: #fff;
display: flex;
justify-content: flex-start;
}

.photography, .webdesign, .photoshop{
height: 2rem;
background-color: #616161;
}

.photography {
    width: 95%;
}

.webdesign {
    width: 80%;
}

.photoshop {
    width: 75%;
}

.cont {
    background-color: #f1f1f1;
    color: #000;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.cont > span {
    font-size: 24px;
}

.cont1 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.download {
    color:#000 ;
    background-color: #f1f1f1;
    padding: 12px 24px;
    margin-top: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.download:hover {
    color: #000;
    background-color: #f1f1f1;
    opacity: 0.80;
}

.conts {
   margin: 16px 0;
   width: 100%;
   padding: 0 -16px;
}

.conts1, .conts2 {
    margin-bottom: 16px;
}

.list, .lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.list:hover, .lists:hover {
    color: black;
    background-color: #f1f1f1; 
    opacity: 1;
 } 

.list, .lists{
    opacity: 0.60; 
    color: black;
    background-color: #f1f1f1;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.list1, .lists1 {
    color: #fff;
    background-color: #616161;
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list2, .lists2 {
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
    background-color: #f1f1f1;
}

.list2 >span, .lists2> span {
    opacity: 0.60;
}

.list3, .lists3 {
    border-bottom: none;
    color: #000;
    background-color: #f1f1f1;
    padding-top: 24px;
    padding-bottom: 24px;

}

.list3 >button, .lists3 > button  {
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.list3 >button:hover, .lists3 > button:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

#rep {
    padding-top: 24px;
    padding-bottom: 24px;
}

.image1, .image2 {
    width: 80px;
    margin-right: 16px;
    border-radius: 50%;
    border-style: none;
}

.pa1, .pa2 {
    margin-right: 16px;
    font-size: 18px;
    color: #757575;
}

.repu {
    align-items: center;
    display: grid;
    grid-template-areas: 
    'image1 pa1'
    'image1 pa1';
    grid-template-columns: 30% 70%;
}

 .reput {
    align-items: center;
    display: grid;
    grid-template-areas: 
   'image2 pa2'
   'image2 pa2';
   grid-template-columns: 30% 70%;
}

.image1, .image2, .pa1, .pa2 {
    grid-area: image1, image2, pa1, pa2;
} 

#photos {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 100%;
    margin: 25px;
}

.mypic,.mycon {
    color: #f1f1f1;
    margin: 25px 0;
    font-size: 30px;
    font-weight: lighter;
    font-family: Verdana,sans-serif;
}

#photos > hr {
    width: 200px;
    margin: 25px 0;
    border: 1px solid #eee;
    opacity: 0.60;
}

.photos {
    margin: 0 -20px;
    padding: 0 8px;
}

.pics, .pics1 {
    width: 100%;
    padding: 0 8px;
}

.pics > * {
    padding-bottom: 12px;
}

.pics1 >* {
    padding-bottom: 12px;
}

#contact {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 25px ;
}

#contact >hr {
    width: 200px;
    margin: 25px 0;
    border: 1px solid #eee;
    opacity: 0.60;
}

.contact {
    margin-top: 16px;
    line-height: 3rem;
    margin-bottom: 16px;
    color: #757575;
}
.contact > p  {
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
}

#icons {
    text-align: center;
    color: #fff;
    margin-right: 16px;
    font-size: 36px;
}

#pc {
    color: #757575;
    padding-bottom: 16px;
}

.in {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    padding: 16px 8px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.button {
    color: #000;
    background-color: #f1f1f1;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

footer {
    color: #757575;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 25px;
    font-size: 24px;
    max-width: 980px;
}

#socialmedia:hover {
    color: #757575;
}

.w3 {
    font-size: 15px;
}

.aher {
    color: inherit;
    font-size: 24px;
    padding-top: 16px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}

@media  screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    #man2 {
        display: none;
    }
    header>h1>.im {
        display: none;
    }
    .p1 {
        margin-top: 2rem;
        font-size:16px;
    }
}

@media screen and (min-width: 601px) {
    .hornav {
        display: none;
    }
    .sidebar {
        display: visible;
    }
    .second{
       margin-left: 120px;
    }
    .conts {
        display: grid;
        grid-template-areas: 
        'conts1 conts2';
        grid-template-columns: 50% 50%;
    }
    .conts2 {
        padding-left: 16px;
    }
    .photos {
        display: grid;
        grid-template-areas: 
        'pics pics1';
        grid-template-columns: 50% 50%;
    }
    .cont {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px 16px;
    }
    .photos {
        margin: 0 -20px;
        padding: 0 8px;
    }
    .repu {
        grid-template-columns: 20% 80%;
    }
    .reput {
        grid-template-columns: 20% 90%;
    }
    #man1 {
        display: none;
    }
    #man2 {
        display: visible;
        max-width: 100%;
        height: auto;
        margin-top: 3rem;
    }
    header>h1>.im {
        display: visible;
    }
    .head {
        font-size: 6rem;
    }
}

.pics, .pics1 {
        width: 100%;
    }
    
.conts1, .conts2 {
    grid-area: conts1, conts2;
}

.pics, .pics1 {
    grid-area: pics, pics1;
}